#output-div{
  display: none;
  text-align: center;
}

#output-div2{
  display: none;
  text-align: center;
}

.radio-input {
  margin: 8px;
}

#icon{
  margin: 30px 30px;
}

#finger-wrapper{
  margin-top: 50px
}

#finger-wrapper-2{
  margin-top: 50px
}

#organ-wrapper{
  margin-top: 30px
}

#feet-wrapper{
  margin-top: 30px;
}

#header{
  text-align: center;
  margin-bottom: 50px;
  width: 100%
  height: 600px;
  background-color: lightgray;
  padding: 30px 0;
}

#eyeball-wrapper{
  margin-top: 50px
}

#button-div{
  text-align: center;
  margin: 50px auto 30px auto;
}

#finalsubmit{
  background-color: #d11521;
  color: white;
  margin: 40px 0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
}

h2{
  font-size: 1.4rem;
}

.radio-input[type="text"] {
    font-size:5.4rem;
}

p {
  font-size: 2rem;
  margin-bottom: 0;

}

span{
  font-weight: bold;
  text-decoration: underline;
  color: #d11521;
}

#hand-image{
   height: 360px;
   width: auto;
   display: inline;
   float: right;
}

#handedness-wrapper{

}

#footer{
  background-color: lightgray;
  text-align: center;
  margin-bottom: 0;
  height: 30px;
}
#footerp{
  font-size: 1rem;
}
