#output-div{
  display: none;
  text-align: center;
}

#output-div2{
  display: none;
  text-align: center;
}

.radio-input {
  margin: 8px;
}

#finger-wrapper{
  margin-top: 50px
}

#finger-wrapper-2{
  margin-top: 50px
}

#organ-wrapper{
  margin-top: 30px
}

#feet-wrapper{
  margin-top: 30px;
}

#header{
  text-align: center;
  margin: 10px 0 50px 0;
  width: 100%
  height: auto;
  background-color: lightgray;
}

#eyeball-wrapper{
  margin-top: 50px
}

#button-div{
  text-align: center;
  margin: 50px auto 30px auto;
}

#finalsubmit{
  background-color: #d11521;
color: white;
margin: 40px 0;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 26px;
}

h2{
  font-size: 1.4rem;
}

p {
  font-size: 2rem;
}

span{
  font-weight: bold;
}

.hand{
  float: right;
  height: 50px;
  width: auto;
  top: 300px;
  position:relative;
  margin-bottom: 300px;

}
